
.simple-mobile-gallery {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  overflow: hidden;
  text-align: center;

  #icon-loading {
    position: absolute;
    top: 50%;
    font-size: 24px;
    color: #fff;
    opacity: 0;
    z-index: 1;
    transition: opacity 200ms ease-out;
  }

  &.loading #icon-loading {
    opacity: 1;
  }

  .images-list {
    transition: all 200ms ease-out;
  }

  .image-wrapper {
    position: relative;
    top: 0px;
    left: 0px;
    float: left;

    img {
      max-width: 100%;
      max-height: 100%;
      opacity: 0;
      vertical-align: middle;
      transition: opacity 200ms ease-out;
    }
  }

  .gallery-control {
    position: absolute;
    bottom: 30px;
    left: 0;
    z-index: 99;
    width: 100%;
    line-height: 30px;
    color: #fff;

    a {
      display: block;
      width: 72px;
      height: 30px;
      line-height: 30px;
      font-size: 16px;
      color: #fff;
      text-decoration:none;
      background: rgba(128,128,128,.4);
      border-radius: 2px;

      &#link-origin {
        float: right;
        margin: 0 15px 0 0;
      }

      &#link-close {
        float: left;
        margin: 0 0 0 15px;
      }

    }
  }
}
