.simple-mobile-gallery {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  overflow: hidden;
  text-align: center;
}
.simple-mobile-gallery #icon-loading {
  position: absolute;
  top: 50%;
  font-size: 24px;
  color: #fff;
  opacity: 0;
  z-index: 1;
  transition: opacity 200ms ease-out;
}
.simple-mobile-gallery.loading #icon-loading {
  opacity: 1;
}
.simple-mobile-gallery .images-list {
  transition: all 200ms ease-out;
}
.simple-mobile-gallery .image-wrapper {
  position: relative;
  top: 0px;
  left: 0px;
  float: left;
}
.simple-mobile-gallery .image-wrapper img {
  max-width: 100%;
  max-height: 100%;
  opacity: 0;
  vertical-align: middle;
  transition: opacity 200ms ease-out;
}
.simple-mobile-gallery .gallery-control {
  position: absolute;
  bottom: 30px;
  left: 0;
  z-index: 99;
  width: 100%;
  line-height: 30px;
  color: #fff;
}
.simple-mobile-gallery .gallery-control a {
  display: block;
  width: 72px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  background: rgba(128, 128, 128, 0.4);
  border-radius: 2px;
}
.simple-mobile-gallery .gallery-control a#link-origin {
  float: right;
  margin: 0 15px 0 0;
}
.simple-mobile-gallery .gallery-control a#link-close {
  float: left;
  margin: 0 0 0 15px;
}
